
{% extends "topic/base.html" %}
{% block title %}论坛主页{% endblock %}
{% block main %}


    <div id="main">
        <div id="sidebar">

            <div class="panel">
                <div class="header">
                    <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">
                    <div class="user_card">

                        <a class="user_avatar" href="{{ url_for("index.profile") }}">
                            <img src="{{ user.image }}">
                        </a>
                        <span class="user_name"><a class="dark" href="{{ url_for("index.profile") }}">{{ user.username }}</a></span>

                        <div class="space clearfix"></div>
                        <span class="signature">
                              {{ user.quote }}
                            </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="panel">
                <div class="header">
                    <span class="col_fade">站内信</span>
                </div>
                <div class="inner">
                    <div>
                        <div class="control-group">
                            <label class="control-label" for="id">发件人：</label>
                            <a class="user_avatar pull-left" href="{{ message.send_user() }}">
                                <img src="{{ message.send_user().image }}">
                            </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="    font-size: 22.5px;">{{  message.send_user().username}}</span>


                        </div>
                    </div>
                </div>

                <div class="inner">
                    <div>
                        <div class="control-group">
                            <label class="control-label" for="id">收件人：</label>
                            <a class="user_avatar pull-left" href="{{ message.rec_user() }}">
                                <img src="{{ message.rec_user().image }}">
                            </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="    font-size: 22.5px;">{{  message.rec_user().username}}</span>

                        </div>
                    </div>
                </div>

                <div class="inner">
                    <div>
                        <div class="control-group">
                            <label class="control-label" for="id">标题：</label>
                            <span style="    font-size: 22.5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ message.title }}</span>
                            <br>
                            <br>
                            <label class="control-label" for="id">内容：</label>
                            <span style="    font-size: 22.5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;message.content</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>




</div>
{% endblock %}